.pagination {
  width: 100%;
  justify-content: center;
  display: inline-flex;
  margin-bottom: 3rem;
}

.pagination li {
  display: flex;
  align-items: center;
}

.pagination li.active a {
  --tw-text-opacity: 1;
  color: rgb(28 100 242/var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(235 245 255/var(--tw-bg-opacity));
}

.pagination li a {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  line-height: 1.25;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  border-width: 1px;
}

.pagination li.selected {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity));
}

.previous a, .next a {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  line-height: 1.25;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  margin-left: 0px;
}

.pagination .previous a {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.pagination .next a {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
